*{
  padding: 0;
  margin: 0;
}
nav{
  list-style: none;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 18px 8%;
}
ul{
    display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
  color: #575757;
  
  align-items: center;
}
/*common style */
.common-btn {
background-color: #1D4ED8;
padding: 10px 20px;
border-radius: 12px;
font-weight: bold;
font-size: 22px;
color: white;
border: none;}

header{
  background-image: url('./banner.jpg');
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
display: grid;
justify-content: center;
align-items: center;
}
.header-content{
color: white;
text-align: center;
display: grid;
gap: 20px;
}

.header-content button{
width: 20%;
margin: 40%;
font-size: 12px;
padding: 12px 0%;
background-color:#1D4ED8;
border-radius: 12px;
}  

.meet{
  text-align: center;
  padding: 18px 8%;
  background-color:white;
  
}
.Speakers{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
  padding: 10px 5%;
}
.andrej{
 width: 100%;
}
.ai{
  color: #2563EB;
}

.demis{
width: 100%;
}
.cloud{
  color: #2563EB;
}

.Frontend{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  padding: 10px 5%;

}

.gary{
  width: 100%;
}
.gary{
 color: #2563EB; 
}

.mustafa{
  width: 100%;

}

.Security{
  color: #2563EB;
}
.secure{
 background-color: white;
 text-align: center;
}
.card container{
 display: grid; 
 grid-template-columns: repeat(3, 1fr);
}
.card container{
  background-color: greenyellow;
  width: 200px;
  height: 200px;
}